# tfvars file example

resource_group_location       = "southeastasia"
resource_group_name_prefix    = "rg"
environment                   = "dev"
virtual_network_name          = "main-vnet"
virtual_network_address_space = ["10.0.0.0/16"]

subnets = [
  {
    name           = "dev-subnet"
    address_prefix = ["10.0.1.0/24"]
    tags = {
      "environment" = "dev"
    }
  },
  {
    name           = "prod-subnet"
    address_prefix = ["10.0.2.0/24"]
    tags = {
      "environment" = "prod"
    }
  }
]

network_security_group_name = "main-nsg"

network_security_group_rules = [
  {
    name                       = "allow-ping"
    priority                   = 1000
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Icmp"
    source_port_range          = "*"
    destination_port_range     = "*"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  },
  {
    name                       = "allow-ssh"
    priority                   = 1001
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "22"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  },
  {
    name                       = "allow-http"
    priority                   = 1002
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "80"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  },
  {
    name                       = "allow-https"
    priority                   = 1003
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "443"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  },
  {
    name                       = "allow-mssql"
    priority                   = 1004
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    destination_port_range     = "1433"
    source_port_range          = "*"
    source_address_prefix      = "10.0.0.0/16"
    destination_address_prefix = "10.0.0.0/16"
  }
]
