resource_group_name     = "rg-dev"
resource_group_location = "southeastasia"
secret_name             = "dev-app-secret"
secret_value = {
  "DATABASE_HOST" : "localhost",
  "DATABASE_PORT" : "1433",
  "DATABASE_USER" : "SA",
  "DATABASE_PASS" : "yourStrongPassword#",
  "DATABASE_NAME" : "master",
}
